body {
    font-family: "Newsreader", serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-text-primary;
    padding: 1rem;
  }



.heading-primary {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-text-primary, 0.8), 
      rgba($color-text-light, 0.8)),
       url(./img/hero.jpg);
    background-size: cover;
    background-position: top;
    color: $color-white;
    backface-visibility: hidden;
    display: grid;
    justify-content: center;
    align-content: center;

    &--main {
      text-transform: uppercase;
      font-size: 5rem;
      font-weight: 700;
      letter-spacing: 1rem;
      display: flex;
      flex-direction: row;

      &-left {
        animation: moveInLeft 1.5s ease-in;
        margin-right: .5rem;
      }

      &-right {
        animation: moveInRight 1.5s ease-in;
        margin-left: .5rem;
      }
    }

    &--sub {
      font-size: 3.5rem;
      font-weight: 400;
      font-family: "Parisienne", serif;
      letter-spacing: .2rem;
      text-align: center;
      animation: moveUp 1.5s ease-in;
    }
  }

  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    display: grid;
    justify-content: center;
  }

  .heading-tertiary {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  .paragraph {
    font-size: $default-font-size;
  }