
// COLORS

$color-text-primary: #777;
$color-text-light: #999;
$color-grey-light-1: #f7f7f7;

$color-primary: #002366;
$color-primary-light: #1059a9;
$color-primary-dark: #00116c;

$color-white: #fff;

// FONT

$default-font-size: 1.6rem;