.card {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    box-shadow: 0 1.5rem 4rem rgba($color-primary, .15);
    border-radius: 5px;
    background-color: $color-grey-light-1;
    font-size: $default-font-size;
    border: 1px solid $color-primary;
    transition: all .2s;

    &__header {
        background-color: $color-primary;
        color: $color-white;
        padding: 1rem;

        &--heading{
            font-size: 3.5rem;
            text-transform: uppercase;
        }

        &--price {
            font-size: 3rem;
        }

        &--description {
            font-size: 2rem;
        }
    }

    &__details {

        &--list {
            padding: 1rem 0 1rem 2rem;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}