.composition {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;

    &__photo {
        width: 40%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .4s;

        &--p1 {
            left: 5rem;
            top: -2rem;
        }

        &--p2 {
            right: 5rem;
            top: 2rem;
        }

        &--p3 {
            left: 20rem;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.05) translateY(-5px);
            box-shadow: 0 2.5rem 4rem rgba($color-primary-dark, 0.4);
            z-index: 20;
        }
    }

    &hover &__photo:not(:hover) {
        transform: scale(.9);
    }
}