* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
}

.header {
  height: 95vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}


.header-nav {
  display: grid;
  justify-content: center;
  padding-bottom: 1rem;
}

.logo {
  justify-self: center;
  height: 11rem;
  width: 13rem;
  margin-bottom: 1rem;
}

.main-nav {
  list-style: none;
  display: flex;
}

.main-nav-item {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 1rem;
}

.header-hero {
  background-image: linear-gradient(
    to right bottom, 
    rgba(85, 85, 85, 0.8), 
    rgba(136, 136, 136, 0.8)),
     url(./img/hero.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  justify-content: center;
  align-content: center;
}

.heading-primary {
  color: #fff;
  display: grid;
  backface-visibility: hidden;
}

.heading-primary-main {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  display: flex;
  flex-direction: row;
}

.heading-primary-main-left {
  animation: moveInLeft 1.5s ease-in;
  margin-right: .5rem;
}

.heading-primary-main-right {
  animation: moveInRight 1.5s ease-in;
  margin-left: .5rem;
}

.heading-primary-sub {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Parisienne", serif;
  letter-spacing: .2rem;
  text-align: center;
  animation: moveUp 1.5s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}