@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Newsreader", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

.heading-primary {
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.8), rgba(153, 153, 153, 0.8)), url(./img/hero.jpg);
  background-size: cover;
  background-position: top;
  color: #fff;
  backface-visibility: hidden;
  display: grid;
  justify-content: center;
  align-content: center; }
  .heading-primary--main {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 1rem;
    display: flex;
    flex-direction: row; }
    .heading-primary--main-left {
      animation: moveInLeft 1.5s ease-in;
      margin-right: .5rem; }
    .heading-primary--main-right {
      animation: moveInRight 1.5s ease-in;
      margin-left: .5rem; }
  .heading-primary--sub {
    font-size: 5rem;
    font-weight: 400;
    font-family: "Parisienne", serif;
    letter-spacing: .2rem;
    text-align: center;
    animation: moveUp 1.5s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #1059a9, #002366);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  display: grid;
  justify-content: center; }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 1rem 0; }

.paragraph {
  font-size: 1.6rem; }

.form-description {
  width: 90%;
  font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-top-4 {
  margin-top: 4rem; }

.u-margin-left-5 {
  margin-left: 5rem; }

.align-left {
  justify-self: start !important; }

.btn, .btn:link, .btn:visited {
  display: grid;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #002366;
  color: #fff;
  text-decoration: none;
  transition: all .2s;
  position: relative;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 35, 102, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 35, 102, 0.2); }

.btn--blue {
  background-color: #002366;
  color: #fff; }
  .btn--blue::after {
    background-color: #002366; }

.btn::after {
  color: #fff;
  content: "";
  display: grid;
  justify-self: center;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.card__btn {
  background-color: #002366;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 1rem;
  transition: all .2s;
  cursor: pointer; }
  .card__btn:hover {
    background-color: #1059a9; }

.card {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0 1.5rem 4rem rgba(0, 35, 102, 0.15);
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 1.6rem;
  border: 1px solid #002366;
  transition: all .2s; }
  .card__header {
    background-color: #002366;
    color: #fff;
    padding: 1rem; }
    .card__header--heading {
      font-size: 3.5rem;
      text-transform: uppercase; }
    .card__header--price {
      font-size: 3rem; }
    .card__header--description {
      font-size: 2rem; }
  .card__details--list {
    padding: 1rem 0 1rem 2rem; }
  .card:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.composition {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative; }
  .composition__photo {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba(0, 17, 108, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .4s; }
    .composition__photo--p1 {
      left: 5rem;
      top: -2rem; }
    .composition__photo--p2 {
      right: 5rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20rem;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba(0, 17, 108, 0.4);
      z-index: 20; }
  .compositionhover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.form {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, min-content);
  grid-row-gap: 1rem; }
  .form__group-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .form__group-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3; }
  .form__group {
    display: grid;
    justify-content: start;
    margin-bottom: 1rem; }
    .form__group-textarea {
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
  .form__input, .form__select, .form__textarea {
    padding: .5rem;
    color: #777;
    font-family: "Newsreader", serif; }
  .form__label {
    font-size: 1.6rem;
    font-weight: 700; }

.btn--blue {
  grid-row: 3 / 4;
  grid-column: 1 / 3; }

.service-box {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  padding: 2rem;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 35, 102, 0.15);
  transition: all .2s; }
  .service-box__image {
    width: 20rem;
    height: 15rem;
    margin-bottom: .5rem; }
  .service-box__text {
    font-size: 1.4rem; }
  .service-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.testimonials-review {
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  background-color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 35, 102, 0.15);
  width: 75%;
  margin: 0 auto 5rem auto;
  padding: 1.5rem 2rem;
  border-radius: 5px; }

.review__text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  justify-self: center; }

.review__photo {
  width: 7rem;
  height: 7rem;
  margin-right: 2rem; }

.review__user {
  display: grid;
  grid-template-columns: min-content auto min-content;
  justify-self: end;
  align-items: center; }
  .review__user-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-size: 1.2rem;
    margin-right: 2rem; }
  .review__user-rating {
    font-size: 2.5rem;
    font-weight: 700;
    color: #002366; }

.app {
  display: grid;
  grid-template-rows: min-content 1fr; }

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .about-content__text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2rem; }

.services-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5rem;
  margin: 0 5rem; }

.packages-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10rem;
  margin: 0 5rem; }

.enquiries-layout {
  background-image: url(./img/form-background-min.jpg);
  background-size: 100%;
  background-position: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 35, 102, 0.15);
  display: flex;
  justify-content: flex-end; }

.enquiries-content {
  width: 55%;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1.5rem 4rem rgba(0, 35, 102, 0.15);
  padding-left: 1rem; }

.enquiries-image {
  height: 100%;
  width: 100%; }

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  background-color: #002366;
  color: #fff;
  padding: 2rem 0; }
  .footer__about-dev, .footer__list {
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 700; }
  .footer__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem; }
  .footer__link {
    text-decoration: none;
    color: #fff; }

.header {
  height: 95vh;
  display: grid;
  grid-template-rows: min-content 1fr; }
  .header__nav {
    display: grid;
    justify-content: center;
    padding-bottom: 1rem; }
  .header__logo {
    justify-self: center;
    height: 11rem;
    width: 13rem;
    margin-bottom: 1rem; }
  .header__main-nav {
    list-style: none;
    display: flex; }
    .header__main-nav--item {
      text-decoration: none;
      color: #777;
      text-transform: uppercase;
      font-size: 2rem;
      margin-right: 2rem;
      position: relative;
      cursor: pointer; }
      .header__main-nav--item::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.3px;
        bottom: -3px;
        left: 0;
        background-color: #002366;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out; }
      .header__main-nav--item:hover::before {
        visibility: visible;
        transform: scaleX(1); }

.section-about {
  background-color: #f7f7f7;
  padding: 5rem 0 20rem 0;
  display: grid;
  grid-template-rows: repeat(2, min-content); }

.section-services {
  display: grid;
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.5), rgba(153, 153, 153, 0.5)), url(./img/form-pic.jpg);
  background-size: cover;
  background-position: center; }

.section-testimonials {
  background-color: #f7f7f7;
  padding: 5rem 0;
  display: grid;
  grid-template-rows: min-content repeat(2, auto) min-content;
  justify-content: center; }

.section-packages {
  padding: 5rem 0;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: center; }

.section-enquiries {
  padding: 5rem 0;
  display: grid;
  justify-content: center;
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.7), rgba(153, 153, 153, 0.2));
  background-size: cover; }
